server.port=80

spring.datasource.url=jdbc:postgresql://localhost:5432/some-db
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=postgres
spring.datasource.password=

spring.datasource.initialization-mode=always
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update

spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true

spring.servlet.multipart.max-file-size=50MB
spring.servlet.multipart.max-request-size=50MB

server.servlet.context-path=/app

server.error.include-message=always


app.default-page-size=5
app.limit.top-users=5
app.remember-me.key=

files.storage.path=


url.hh-ru.vacancies=https://api.hh.ru/vacancies?

oauth.vk.request-url.access-token=https://oauth.vk.com/access_token
oauth.vk.request-url.method=https://api.vk.com/method/
oauth.vk.client-id=
oauth.vk.client-secret=
oauth.vk.redirect-url=http://localhost/app/oauth
oauth.vk.version=5.131
